@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /* variables */
  --primary-background: #652cb3;
  --secondary-background: #414bb2;
  --transparent-primary: #642cb333;
  --primary-font-color: white;
}

/* override some defaults */
a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* general styling */

body {
  box-sizing: border-box;
  padding: 15px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.1rem;
}

.bold {
  font-weight: bold;
}

.section-title {
  background-color: var(--primary-background);
  color: white;
  margin-bottom: 8px;
  padding: 8px;
  font-weight: 700;
}

/* nav styling */
.nav {
  border: 2px solid black;
  display: flex;
  margin-bottom: 12px;
}

.nav img {
  width: 50px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 1.1rem;
}

.nav-links li > a:hover {
  color: var(--primary-background);
  font-weight: bold;
}

/* header styling */
.header {
  margin-bottom: 12px;
}

.header-title {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header-body {
  display: flex;
  gap: 10px;
}

.header-content-main {
  color: #da0064;
  font-size: 1.5rem;
  font-weight: 700;
}

.header-image {
  width: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/lade-oshodi.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}

.header-image > img {
  width: 100%;
}

/* skill styling */
.skill-body {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-card {
  background-color: var(--transparent-primary);
  width: 45%;
  min-height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 15px;
  text-align: center;
}

.skill-card-icon {
  font-size: 2.1rem;
}

.skill-card-title {
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .nav-links {
    font-size: 1rem;
  }
  .hide-on-mobile {
    display: none;
  }
  .section-title {
    margin-bottom: 15px;
  }

  /* header mobile styling */
  .header-title {
    display: block;
    text-align: center;
  }
  .header-body {
    display: block;
  }
  .header-image {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
  }
}
