body {
  color: rgba(40, 40, 40, 0.87);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  background: #e3e1e1e6;
  margin: 0;
}

.body-content {
  max-width: 1024px;
  margin: 0 auto;
  background: #ffffff94;
}

.section-divider {
  position: relative;
  height: 150px;
}

.skills-section {
  background: linear-gradient(#ffffffbd, #ffffffb5);
  padding-bottom: 20px;
}

.projects-section {
  background-color: #ffffffb5;
}

.about-me-divider {
  margin: 0 -16px 16px -16px;
}

.career-timeline-section,
.interest-section {
  background-color: #ffffffb5;
  padding: 16px;
  margin: -16px;
}

/* SVG dividers */

.custom-shape-divider-bottom-1727884018 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1727884018 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 154px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1727884018 .shape-fill {
  fill: #ffffff94;
}
